<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/stylePlugin'); %>
    <title>Server Side Coding</title>
</head>

<body>
<header style="z-index: 3"><%- include('./partials/navBar'); %></header>
<main class="d-flex flex-column align-items-center justify-content-center">
    Hello
</main>
</body>
</html>