<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/stylePlugin'); %>
    <title>Profile Deleted</title>
</head>
<body>
    <header><%- include('./partials/navBar'); %></header>
    <main class="d-flex justify-content-center">
        <h1>Profile successfully deleted!</h1>
    </main>
</body>
</html>