<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/stylePlugin'); %>
    <title>Server Side Coding</title>
</head>

<body>
    <header><%- include('./partials/navBar'); %></header>
    <main class="d-flex flex-column align-items-center justify-content-center">
        <h1>Welcome to our Website</h1>
        <p>Server Side Coding - Group 2</p>
    </main>
    <footer><%- include('./partials/footer'); %></footer>
</body>

</html>