<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/stylePlugin'); %>
    <title>Server Side Coding</title>
</head>

<body>
<header><%- include('./partials/navBar'); %></header>
<main >

    <!-- sidebar + content -->
    <section class="">
        <div class="container">
            <div class="row justify-content-center">
                <!-- content -->
                <div class="col-lg-11">
                    <!-- mini header -->
                    <section class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
                        <strong class="d-block py-2"><%= products.length %> results</strong>
                        <div class="ms-auto">
                            <label for="sort-select" hidden="hidden">Select dropdown</label>
                            <select id="sort-select" onchange="handleSortChange()">
                                <option selected aria-selected="true" value="default">Sort Products</option>
                                <option value="price">Sort by Price</option>
                                <option value="title">Sort by Name</option>
                            </select>
                            <div class="btn-group shadow-0 border">
                                <button id="view-toggle" onclick="toggleView()" class="btn btn-light" title="Switch view">
                                    List view
                                </button>
                            </div>
                        </div>
                    </section>
                    <!-- mini header -->
                    <section>

                        <!-- The product container element -->
                        <div id="product-container">
                            <!-- Products will be dynamically rendered here -->
                        </div>
                    </section>

                    <hr/>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    const products = <%- JSON.stringify(products) %>;
    let isGridView = false; // Initial view is list

    function handleSortChange() {
        const sortSelect = document.getElementById("sort-select");
        const selectedValue = sortSelect.value;

        let sortedProducts;
        if (selectedValue === "price") {
            sortedProducts = products.slice().sort((a, b) => a.price - b.price);
        } else if (selectedValue === "title") {
            sortedProducts = products.slice().sort((a, b) => a.title.localeCompare(b.title));
        } else {
            (selectedValue === "default")
            sortedProducts = products.slice();
        }

        // Render the sorted products on the page
        renderProducts(sortedProducts);
    }

    function renderProducts(productList) {
        const productContainer = document.getElementById('product-container');
        productContainer.innerHTML = '';

        if (isGridView) {
            // Render products in grid view
            productList.forEach((product) => {
                const productHTML = generateGridProductHTML(product);
                productContainer.innerHTML += productHTML;
            });
        } else {
            // Render products in list view
            productList.forEach((product) => {
                const productHTML = generateListProductHTML(product);
                productContainer.innerHTML += productHTML;
            });
        }
    }

    function generateGridProductHTML(product) {
        return `<div class="col-lg-4 col-md-6 col-sm-6">
<div class="card w-100 my-2 shadow-2-strong">
<a href="/products/${product.id}" class="text-dark">
                    <img class="card-img-top alt="${product.productPicName}" src="../../uploads/${product.title}"/>
                </a>
                <div class="card-body d-flex flex-column">
                    <div class="d-flex flex-row">
                        <a href="/products/${product.id}" class="text-dark">
                            <h5 class="mb-1 me-1">${product.price}€</h5>
                        </a>
                        <span class="text-danger"><s>${product.price * 0.9}€</s></span>
                    </div>
                    <p class="card-text">${product.title}</p>
                    <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                        <form action="/addToCart" class="me-2" method="post">
                            <input type="hidden" name="productId" value="${product.id}">
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                        </form>
                        <a class="btn btn-light border icon-hover px-2 pt-2 disabled" aria-disabled="true" href="#!">
                            <i class="bi bi-heart fa-lg text-secondary px-1"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
`;
    }

    function generateListProductHTML(product) {
        return `
                <div class="row justify-content-center mb-3">
                    <div class="col-md-12">
                        <div class="card shadow-0 border rounded-3">
                            <div class="card-body">
                                <div class="row g-0">
                                    <div class="col-xl-3 col-md-4 d-flex justify-content-center">
                                        <a href="/products/${product.id}">
                                            <img src="../../uploads/${product.productPicName}"
                                                 alt="${product.title}"
                                                 class="w-100"/>
                                        </a>
                                    </div>
                                    <div class="col-xl-6 col-md-5 col-sm-7">
                                        <a href="/products/${product.id}" class="text-dark">
                                            <h5>${product.title}</h5>
                                        </a>
                                        <div class="d-flex flex-row">
                                            <div class="text-warning mb-1 me-2">
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-half"></i>
                                                <span class="ms-1 text-dark">4.5</span>
                                            </div>
                                            <span class="text-muted">${Math.floor(Math.random() * 2000)} orders</span>
                                        </div>
                                        <p class="text mb-4 mb-md-0">
                                            ${product.description}
                                        </p>
                                    </div>
                                    <div class="col-xl-3 col-md-3 col-sm-5">
                                        <div class="d-flex flex-row align-items-center mb-1">
                                            <h4 class="mb-1 me-1">${product.price}€</h4>
                                            <span class="text-danger"><s>${product.price * 0.9}€</s></span>
                                        </div>
                                        <h6 class="text-success">Free shipping</h6>
                                        <div class="mt-4">
                                                <form action="/addToCart" class="mb-2" method="post">
                                                    <input type="hidden" name="productId" value="${product.id}">
                                                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                                                </form>
                                            <a class="btn btn-light disabled border px-2 pt-2 icon-hover"><i class="bi bi-heart fa-lg px-1"></i>Save</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            `;
    }

    function toggleView() {
        const viewToggleButton = document.getElementById("view-toggle");
        isGridView = !isGridView; // Toggle the view

        if (isGridView) {
            viewToggleButton.textContent = "Grid View";
            document.getElementById('product-container').classList.add('row');
        } else {
            viewToggleButton.textContent = "List View";
            document.getElementById('product-container').classList.remove('row');
        }

        // Re-render the products based on the selected view
        renderProducts(products);
    }

    // Initial rendering of products
    handleSortChange();
</script>
</body>
</html>


