<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/stylePlugin'); %>
    <title>Server Side Coding</title>
</head>

<body>
<header style="z-index: 3"><%- include('./partials/navBar'); %></header>
<main class="d-flex justify-content-start align-items-start flex-wrap">

    <% for(let i = 0; i < profiles.length; i++) { %>
        <!-- For each profile, add a profile card -->
        <a class="profile-card shadow bg-white mb-5 rounded" href="/profiles/<%= profiles[i].id %>">
            <!-- With an image -->
            <img src="/images/man.png" width="65px">

            <!-- And some data -->
            <div class="d-flex flex-column">
                <strong>
                    <%= profiles[i].name %>
                </strong>
            </div>
        </a>
    <% } %>

    <a href="/addProfile" id="add-profile-card" class="shadow rounded">
        <strong>Add profile</strong>
    </a>
</main>
</body>

</html>