<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/stylePlugin'); %>
    <title>Register</title>
</head>

<body class="d-flex justify-content-center align-items-center" style="height: 100vh">
<form action="/" method="post" class="login-register-form shadow-lg p-3 mb-5 bg-white rounded" enctype="multipart/form-data">
    <h3 class="mb-5">Register</h3>

    <!-- Email input -->
    <div class="form-floating mb-3">
        <input type="email" name="email" class="form-control" placeholder="Email Address"/>
        <label class="form-label" for="inputEmail">Email address</label>
    </div>
    <div class="row mb-3">
        <!-- Name input -->
        <div class="col form-floating">
            <input type="text" name="name" class="form-control" placeholder="Name"/>
            <label class="form-label" for="inputName" style="margin-left: 0.75rem">Name</label>
        </div>
    </div>
    <!-- Info input -->
    <div class="form-floating mb-3">
        <input type="text" name="info" class="form-control" placeholder="Your Info"/>
        <label class="form-label" for="inputInfo">Info</label>
    </div>

    <!-- Password input -->
    <div class="form-floating mb-5">
        <input type="password" name="password" class="form-control" placeholder="Password"/>
        <label class="form-label" for="inputPassword">Password</label>
    </div>


    <!-- Image -->
    <div class="form-group mb-3">
        <label for="productPicName" class="form-label">Product Image (jpg):</label>
        <input type="file" name="profilePicName" id="profilePicName" accept="image/jpeg, image/png, image/jpg"
               class="form-control" required>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-dark btn-lg btn-block mb-4" style="width: 100%"
            id="addProduct">Register
    </button>

    <!-- Login button -->
    <div class="text-center">
        <p>Already have an account? <a href="login">Login!</a></p>
    </div>
</form>
</body>

</html>