<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/stylePlugin'); %>
    <title>Register</title>
</head>

<body>
<main style="margin-top: 70px;">
    <div class="d-flex justify-content-center">
        <form style="width: auto" role="form" action="/" method="post" id="add-profile-form" class="m-0 shadow-lg p-5 bg-white rounded" enctype="multipart/form-data">
            <h3 class="mb-3">Register</h3>
            <!-- Email input -->
            <div class="form-group">
                <label for="inputEmail" class="form-label">Email:</label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Your email address"
                       required="">
            </div>
            <!-- Name input -->
            <div class="form-group">
                <label for="inputName" class="form-label">Name:</label>
                <input type="text" name="name" id="inputName" class="form-control" placeholder="Your displayed name"
                       required="">
            </div>
            <!-- Info input -->
            <div class="form-group">
                <label for="inputInfo" class="form-label">Info:</label>
                <textarea name="info" id="inputInfo" class="form-control" rows="4"
                          placeholder="Some information about you..." required="" style="height: 135px;"></textarea>
            </div>
            <!-- Password input -->
            <div class="form-group">
                <label class="form-label" for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"/>
            </div>

            <div class="form-group mb-3">
                <label for="profilePicName" class="form-label">Product Image (jpg):</label>
                <input type="file" name="profilePicName" id="profilePicName" accept="image/jpeg, image/png, image/jpg" class="form-control" required>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-dark btn-lg btn-block mb-4" style="width: 100%"
                    id="addProduct">Submit
            </button>
        </form>
    </div>
</main>
</body>

</html>